
		<h1>Frequently Asked Questions and Answers</h1>

		<ul>
			<li>My Account</li>
				<ol>
					<a href="#create"><li>How do I create an account?</li></a>
					<a href="#password"><li>How do I change my password?</li></a>
					<a href="#password_one"><li>I forgot my password, help!</li></a>
				</ol>
			<li>My Courses</li>
				<ol>
					<a href="#course_one"><li>I can't find the course I'm looking for?</li></a>
					<a href="#book"><li>How do I book a place in a course?</li></a>
					<a href="#check_booking"><li>How do I check that my booking was successful?</li></a>
					<a href="#confirmation"><li>I didn't get a confirmation email?</li></a>
					<a href="#cancel"><li>How do I cancel my booking?</li></a>
					<a href="#question"><li>I have a question about a course, who do I talk to?</li></a>
				</ol>
			<li>Payment</li>
				<ol>
					<a href="#secure"><li>How secure is payment?</li></a>
					<a href="#pay"><li>What forms of payment are accepted?</li></a>
				</ol>
		</ul>

		<h2>My Account</h2>
		<ol>
			<li>
				<h3 id="create">How do I create an account?</h3>
				<ul>
					<li>
						Option 1: Fill in the your details on the Registration form on the home page or else on the drop down menu located at the top right hand corner of the navigation bar.
					</li>
					<li>
						Option 2: In the Registration form, click one of the 'Login In With' buttons depending on which social media account you would like to log in with. This will redirect you to a form where you fill in your username and password for the social media site.
					</li>
				</ul>
			</li>
			<li>
				<h3 id="password">How do I change my password?</h3>
				<ul>
					<li>
						If logged in: click 'Edit Details' in the drop down menu located at the top right hand corner of the navigation bar. Option to reset password will be located here. Type in old password, fill in new password and confirm new password.
					</li>
					<li>
						If want to reset password: see 'I forgot my password, help!' below.
					</li>
				</ul>
			</li>
			<li>
				<h3 id="password_one">I forgot my password, help!</h3>
				<ul>
					<li>
						In login form located on the homepage and in a drop down menu on the top right hand corner of the navigation bar, click the forgotten password link.
					</li>
					<li>
						Fill in details such as name and email address.
					</li>
					<li>
						An email will be sent to your account including a link to reset your password. Follow the instructions listed in the email.
					</li>
				</ul>
			</li>
		</ol>

		<h2>My Courses</h2>
		<ol>
			<li>
				<h3 id="course_one">I can't find the course I'm looking for?</h3>
				<ul>
					<li>
						Option 1: type the name of the course or else keywords relating to the course in the Search toolbar located in the navigation bar
					</li>
					<li>
						Option 2: click on Categories page and navigate to the category of the course that you are looking for. Courses are listed alphabetically under their category.
					</li>
					<li>
						If you still cannot find the course you are looking for, please contact a member of staff by sending an email using the Contact Us page. The course you are looking for may have been deleted or the name of the course may have been changed. 
					</li>
				</ul>
			</li>
			<li>
				<h3 id="book">How do I book a place in a course?</h3>
				<ul>
					<li>
						Don't have an account: create an account using the Registration form located on the homepage or else in the drop down menu in the top right hand corner of the navigation bar. 
					</li>
					<li>	
						Have an account: log in and navigate to the course page that you wish to book a place in
					</li>
					<li>
						Click 'Book Course' and fill in credit card details for payment
					</li>
					<li>
						2 options for making payment:
						<ul>
							<li>Pay deposit now and pay the remainder later</li>
							<li>Pay deposit and remainder now</li>
						</ul>
					</li>
					<li>
						Once deposit is paid, your place in the course is now booked. You will receive a confirmation email stating the details of your booking and you will also receive emails relating to any changes made to the course.
					</li>
				</ul>
			</li>
			<li>
				<h3 id="check_booking">How do I check that my booking was successful?</h3>
				<ul>
					<li>You will receive a confirmation email in a few minutes after payment detailing your booking.</li>
					<li>The course will now appear under Upcoming Courses section on your user profile.</li>
				</ul>
			</li>
			<li>
				<h3 id="confirmation">I didn't get a confirmation email?</h3>
				<ul>
					<li>
						Check your Junk folder in your email inbox incase it was sent there.
					</li>
					<li>
						If email has not come through in over 24 hours, please contact a member of staff by using the Contact Us page and they will solve the problem for you.
					</li>
				</ul>
			</li>
			<li>
				<h3 id="cancel">How do I cancel my booking?</h3>
				<ul>
					<li>Navigate to your Upcoming Courses section of your user profile</li>
					<li>Click the Un-Enrol button located beside the name of the course you wish to unenrol from</li>
					<li>Your booking will be cancelled immediatly and your refund will come through in less than 24 hours.</li>
				</ul>
			</li>
			<li>
				<h3 id="question">I have a question about a course, who do I talk to?</h3>
				<ul>
					<li>Send an email using the Contact Us page and a member of staff will get back to you in less than 24 hours.</li>
				</ul>
			</li>
		</ol>

		<h2>Payment</h2>
		<ol>
			<li>
				<h3 id="secure">How secure is payment?</h3>
				<ul>
					<li>
						Payment is 100% secure as we use Paypal to process our payments. You know your money is in safe hands as we monitor our payments to make sure that every transaction is completed in a matter of hours in the most secure way possible.
					</li>
				</ul>
			</li>
			<li>
				<h3 id="pay">What forms of payment are accepted?</h3>
				<ul>
					<li>
						All major credit cards are accepted including Visa, Mastercard, American Express to name a few.
					</li>
				</ul>
			</li>
		</ol>

