
<<<<<<< HEAD
  <h1>Book now<h1>

=======
<h1>Book Hello</h1>
<script src="paypal-button.min.js?merchant=FFD74YX8JZ4ZW"
    data-button="buynow"
    data-name="My product"
    data-amount="<%=@course.price%>"
></script>
>>>>>>> d46909a2b1a8f76277a616aa2db1d77658d737b0

